@using Stock.Models.Models
@model List<Stock.Models.Models.Item>

<h1>Список предметов</h1>

@{
    ViewData["Title"] = "Склад";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Айди</th>
                <th>Название</th>
                <th>Тип предмета</th>
                <th>Дата поступления</th>
                <th>Производитель</th>
                <th>Адрес производителя</th>
                <th>Фотография</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceiptDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Manufacturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ManufacturerAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Image)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
